.backgroung-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.single-fruit-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;

  .header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-info {
      width: 50%;
    }

    &-img {
      width: 50%;
      text-align: end;

      .fruit-logo {
        width: 60px;
      }
    }
  }

  mat-divider {
    margin: 20px 0;
  }

  .example-card {
    max-width: 1000px;
    margin-bottom: 10px;
  }

  .example-h2 {
    margin: 10px;
  }

  .example-margin {
    margin: 0 10px;
  }

  .back {
    display: flex;
    justify-content: right;
    margin-top: 20px;
  }
}

// .single-fruit-container::before {
//   content: "";
//   position: absolute;

//   width: 50%;
//   height: 100%;
//   background: #fff;
//   filter: blur(300px);
// }
