<div class="all-fruits-container">
  <h1>Fruit Genus</h1>
  <mat-grid-list cols="3" rowHeight="1:1">
    @for (fruit of fruits; track $index) {
    <mat-grid-tile>
      <mat-card class="card" appearance="outlined">
        <mat-card-header class="header-card">
          <div class="header-card-horizontal">
            <div class="header-card-info">
              <mat-card-title>{{ fruit.name }}</mat-card-title>
              <mat-card-subtitle class="subtitle">{{
                fruit.family
              }}</mat-card-subtitle>
            </div>
            <div class="header-card-img">
              <img
                [src]="'fruits/' + fruit.name + '.ico'"
                [alt]="fruit.name + 'Image'"
                class="fruit-logo"
              />
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="header-card-vertical">
            <p><strong>Genus:</strong> {{ fruit.genus }}</p>
            <p><strong>Order:</strong> {{ fruit.order }}</p>
          </div>
        </mat-card-header>
        <mat-card-content [id]="fruit.id">
          <p class="content-card"><strong>Nutritions:</strong></p>
          <ul>
            <li><strong>Calories: </strong> {{ fruit.nutritions.calories }}</li>
            <li>
              <strong>Carbohydrates: </strong>
              {{ fruit.nutritions.carbohydrates }}
            </li>
            <li><strong>Fat: </strong> {{ fruit.nutritions.fat }}</li>
            <li><strong>Protein: </strong> {{ fruit.nutritions.protein }}</li>
            <li><strong>Sugar: </strong> {{ fruit.nutritions.sugar }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
