@if (!selectedFruitId) {

<div class="container">
  <div class="container-filter">
    <video src="background-fruit.mp4" autoplay loop muted></video>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Tomato"
        #input
      />
    </mat-form-field>
  </div>
  <mat-grid-list cols="7" rowHeight="1:1" gutterSize="30">
    @for (fruit of filteredFruits; track $index) {
    <mat-grid-tile>
      <mat-card class="card" appearance="outlined">
        <img [src]="findFruitImage(fruit.name)" alt="" />
        <mat-card-content
          [id]="fruit.id"
          (click)="goToFruitDetails(fruit.id, fruit.name)"
        >
          <button mat-button disableRipple="true" class="button">
            <p>{{ fruit.name }}</p>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>

} @else {
<app-single-fruit
  [fruitId]="selectedFruitId"
  [fruitNameforImg]="selectedFruitName"
  (back)="selectedFruitId = null"
></app-single-fruit>
}
