<div class="container">
  <div class="container-filter">
    <video src="background-fruit.mp4" autoplay loop muted></video>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Tomato"
        #input
      />
    </mat-form-field>
  </div>
  <mat-grid-list cols="7" rowHeight="1:1" gutterSize="30">
    @for (fruit of filteredFruits; track $index) {
    <mat-grid-tile>
      <mat-card class="card" appearance="outlined">
        <mat-card-content [id]="fruit.id">
          <button
            mat-button
            disableRipple="true"
            class="button"
            (click)="goToFruitDetails(fruit.id)"
          >
            <p>{{ fruit.name }}</p>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>

<router-outlet></router-outlet>
