.container {
  width: 100%;
  margin: 30px 0 50px 0;

  .filter {
    width: 100%;
  }

  .fruit-logo {
    width: 18px;
  }

  .demo-table {
    width: 70vw;
  }

  .mat-row {
    font-size: 1.2em;
  }

  .mat-mdc-row {
    font-size: 1.2em;
  }

  ::ng-deep .mat-mdc-row:hover {
    font-size: 2em;
    transition: font-size 0.3s ease-in-out;

    .fruit-logo {
      width: 55px;
    }
  }

  ::ng-deep .mat-mdc-cell {
    transition: font-size 0.3s ease;
  }
}
