.drawer-container {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: baseline;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 0px;
      margin-left: 20px;

      font-size: 27px;
    }
  }

  .favorite-icon {
    color: rgb(174, 14, 14);
  }
  .share-icon {
    color: rgb(5, 51, 132);
  }
}
