<mat-drawer-container class="drawer-container">
  <mat-toolbar class="toolbar">
    <div class="toolbar-menu">
      <p>FruityVice</p>
    </div>
    <div>
      <button
        mat-icon-button
        class="example-icon share-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="main-container">
    <div class="main-container-body">
      <app-all-fruits></app-all-fruits>
    </div>

    <div class="footer">
      <p>Questo è il footer</p>
    </div>
  </div>
</mat-drawer-container>
