<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="toolbar">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>FruityVice</span>
        <span class="spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="fruits-list">
      <!-- FRUITS LIST-->
      <ul>
        @for (fruit of fruits; track $index) {
        <li>{{ fruit.name }}</li>
        }
      </ul>
    </div>
  </div>
</mat-drawer-container>
