<mat-nav-list>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ url }}&title={{
      title
    }}&text={{ text }}"
    target="_blank"
    mat-list-item
    id="facebook"
  >
    <span matListItemTitle>Facebook</span>
  </a>

  <a
    href="https://twitter.com/intent/tweet?url={{ url }}&title={{
      title
    }}&text={{ text }}"
    target="_blank"
    mat-list-item
    id="x"
  >
    <span matListItemTitle>X</span>
  </a>

  <a
    href="https://api.whatsapp.com/send?text={{ url }}&title={{ title }}&text={{
      text
    }}"
    target="_blank"
    mat-list-item
    id="whatsapp"
  >
    <span matListItemTitle>WhatsApp</span>
  </a>

  <a
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{
      title
    }}&text={{ text }}"
    target="_blank"
    mat-list-item
    id="linkedin"
  >
    <span matListItemTitle>LinkedIn</span>
  </a>
</mat-nav-list>
